[submodule "Vendor/glad"]
	path = Vendor/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "Vendor/catch"]
	path = Vendor/catch
	url = git@github.com:catchorg/Catch2.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Vendor/imgui/src"]
	path = Vendor/imgui/src
	url = git@github.com:ocornut/imgui.git
[submodule "Vendor/soil"]
	path = Vendor/soil
	url = git@github.com:paralin/soil.git
