[submodule "Vendor/glad"]
	path = Vendor/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "Vendor/catch"]
	path = Vendor/catch
	url = git@github.com:catchorg/Catch2.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
